<div>
  <div class="title-bar">
<!--    <h2>Reservation list</h2>-->
    <h2>Lista rezerwacji</h2>
    <div>
      <button mat-mini-fab (click)="this.openDialog()"><mat-icon fontIcon="add"></mat-icon></button>
    </div>
  </div>
</div>

<div class="responsive-table">
  <section class="example-section">
<!--    <label class="example-margin">Show mode:</label>-->
    <label class="example-margin">Tryb wyświetlania rezerwacji:</label>
  <mat-radio-group [(ngModel)]="showMode" (ngModelChange)="changedValue($event)">
    <mat-radio-button color="warn" class="example-margin" value="all">
<!--      <span>All</span>-->
      <span>Wszystkie</span>
    </mat-radio-button>
    <mat-radio-button color="warn" class="example-margin" value="pending">
<!--      <span>Pending</span>-->
      <span>Oczekujące</span>
    </mat-radio-button>
  </mat-radio-group>
  </section>

  @if(this.dataSource.data.length)
  {
    <table class="foreground-color" mat-table [dataSource]="this.dataSource" aria-label="customer-reservation-list">
    <ng-container matColumnDef="reservationId">
      <th hidden class="text-primary-color" mat-header-cell *matHeaderCellDef> Reservation ID </th>
      <td hidden class="text-primary-color" mat-cell *matCellDef="let element">{{element.reservationId}}</td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th class="text-primary-color" mat-header-cell *matHeaderCellDef> Szczegóły </th>
      <td class="text-secondary-color" mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="this.redirectToDetails(element.reservationId)">
          <mat-icon>reorder</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="vehicleId">
      <th hidden class="text-primary-color" mat-header-cell *matHeaderCellDef> Vehicle ID </th>
      <td hidden class="text-primary-color" mat-cell *matCellDef="let element">{{element.vehicleId}}</td>
    </ng-container>
    <ng-container hidden matColumnDef="vehicleName">
      <th class="text-primary-color" mat-header-cell *matHeaderCellDef> Nazwa pojazdu </th>
      <td class="text-primary-color" mat-cell *matCellDef="let element">{{element.vehicleName}}</td>
    </ng-container>
    <ng-container matColumnDef="reservationState">
      <th class="text-primary-color" mat-header-cell *matHeaderCellDef> Status rezerwacji </th>
      <td class="text-primary-color" mat-cell *matCellDef="let element">{{element.reservationState}}</td>
    </ng-container>
    <ng-container matColumnDef="reservationDate">
      <th class="text-primary-color" class="text-primary-color" mat-header-cell *matHeaderCellDef> Data rezerwacji
      </th>
      <td class="text-primary-color" mat-cell *matCellDef="let element">{{element.reservationDate | date:'shortDate' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th class="text-primary-color" mat-header-cell *matHeaderCellDef> Opis </th>
      <td class="text-primary-color" mat-cell *matCellDef="let element">{{element.comment.slice(0,70) + "..."}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"></tr>
  </table>
  }
  @else{
<!--    <h2 align="center">No reservations found</h2>-->
    <h2 align="center">Nie znaleziono żadnych rezerwacji</h2>
  }
</div>
